@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";

.Accordion {
    width: 100%;

    &_label {
        font-size: $font-medium;
    }

    &_content {
        font-size: $font-default;
    }
}

.ExternalLink {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}