@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";

.Service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-large;
    border-radius: $border-radius-small;
    box-shadow: $shadow-soft;
    text-align: center;
    
    &_title {
        @include tertiary-heading;
    }
}