@import "../../../styles/sass/abstracts/variables";

.ServicesTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    &_title {
        text-align: center;
        color: $color-blue-dark;
    }

    &_image {
        border-radius: 1rem;
    }

    &:hover {
        cursor: pointer;
    }
}