@import "../../../styles/sass/abstracts/variables";

.Navbar {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-xsmall $spacing-large;
    position: sticky;
    top: 0;
    z-index: 100;

    &_brand {
        font-size: $font-medium;
    }

    &_menuIcon {
        &:hover {
            cursor: pointer;
        }
    }
}