@import "../../../styles/sass/abstracts/variables";

.Navbar {
    &_links {
        display: flex;
    }

    &_link {
        font-weight: 100;
        font-size: $font-medium;
        transition: all .2s;
        
        &:not(:last-of-type) {
            margin: 0 $spacing-medium;
        }

        &:hover {
            color: $color-blue-dark;
        }
    }
}