@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";

.Footer {
    background-color: $color-primary;

    &_mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $spacing-section-padding-horizontal $spacing-section-padding-vertical;
    
        @media(max-width: 600px) {
            padding: $spacing-large;
        }
    }

    &_title {
        color: $color-grey;
    }

    &_iconContainer {
        margin-bottom: $spacing-xlarge;

        & > a:first-of-type {
            margin-right: $spacing-small;
        }
    }

    &_logo {
        margin-top: $spacing-medium;
    }

    &_contactButton {
        text-align: center;
        padding: $spacing-xsmall $spacing-medium;
        border-radius: $border-radius-small;
        color: $color-white;
        background-color: $color-blue-dark;
        transition: all .2s;
        width: 17rem;
    
        &:hover {
            transform: scale(1.1);
        }

        @media(max-width: 800px) {
            margin-bottom: 15rem;
        }
    }
}