@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/mixins";

.Footer {
    background-color: $color-primary;

    &_mainSection {
        @include page-section;
        padding: $spacing-xxlarge $spacing-section-padding-horizontal;
    }

    &_title {
        color: $color-grey;
    }

    &_iconContainer {
        margin-top: $spacing-large;
        margin-bottom: $spacing-large;

        & > a:first-of-type {
            margin-right: $spacing-small;
        }
    }

    &_logo {
        margin-top: $spacing-medium;
    }

    &_contactButton {
        @media(max-width: 800px) {
            margin-bottom: 15rem;
        }
    }
}