@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.AboutPage {
    &_imageSection {
        width: 100%;
        height: calc(100vh - 6.4rem);
        background-color: $color-white;
        // object-fit: cover;
        // object-position: top;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &_image {
        object-fit: cover;
        border-radius: $border-radius;
    }

    &_imageInfoText {
        width: 40%;
        font-size: $font-large;
        color: $color-white;
        font-style: italic;
        line-height: 4.5rem;
        color: $color-primary;
    }

    &_introSection {
        @include page-section;
        background-color: rgba(68, 197, 175, 1);
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: $color-white;

        &_heading {
            margin-bottom: $spacing-medium;
            font-size: $font-medium;
        }

        &_info {
            font-size: $font-large;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
    }

    &_infoSection {
        background-color: rgba(68, 197, 175, .75);
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: $color-grey;
        @include page-section;

        &_heading {
            text-align: center;
            margin-bottom: $spacing-xlarge;
        }

        &_text {
            columns: 2;
            column-gap: 8rem;
            letter-spacing: .1rem;

            @media(max-width: 800px) {
                columns: 1;
            }
        }

        &_blogLink {
            text-align: center;
            margin-top: $spacing-xlarge;
            padding: $spacing-xsmall $spacing-medium;
            border-radius: $border-radius-small;
            color: $color-white;
            background-color: $color-blue-dark;
            transition: all .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &_approachSection {
        background-color: rgba(68, 197, 175, .5);
        color: $color-grey;
        font-family:Georgia, 'Times New Roman', Times, serif;
        @include page-section;

        &_heading {
            text-align: center;
            margin-bottom: $spacing-xlarge;
        }

        &_text {
            columns: 2;
            column-gap: 8rem;
            letter-spacing: .1rem;

            @media(max-width: 800px) {
                columns: 1;
            }
        }
    }
}