@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.BlogPage {
    padding: $spacing-section-padding-vertical 0;

    &_headingSection {
        @include page-heading-section;
    }

    &_primaryHeading {
        @include primary-heading;
    }

    &_blogsContainer {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        justify-items: center;

        @media (max-width: 700px) {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
}