@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.ContactPage {
    padding: $spacing-section-padding-vertical 0;
    height: 77vh;

    &_headingSection {
        @include page-heading-section;
    }

    &_primaryHeading {
        @include primary-heading;
    }

    &_formSection {
        @include page-section;
    }

    &_paragraph {
        margin-bottom: $spacing-medium;
        padding: 0 $spacing-large;
        text-align: center;
    }
}