@import "../sass/abstracts/mixins";
@import "../sass/abstracts/variables";

.FAQPage {
    padding: $spacing-section-padding-vertical 0;

    &_headingSection {
        @include page-heading-section;
    }

    &_primaryHeading {
        @include primary-heading;
    }

    &_accordionSection {
        width: 60%;
        margin: auto;

        @media (max-width: 900px) {
            width: 80%;
        }

        @media (max-width: 600px) {
            width: 90%;
        }
    }
}