@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.ResourcesPage {
    padding: $spacing-section-padding-vertical 0;
    height: 77vh;

    @media(max-width: 800px) {
        padding: $spacing-section-padding-vertical-mobile 0;
    }

    &_headingSection {
        @include page-heading-section;
    }

    &_primaryHeading {
        @include primary-heading;
    }
}