//colors
$color-white: #fff8f8;
$color-black: #171414;
$color-grey: #3C4443;
$color-grey-light: #eaeaea;
$color-blue-dark: #1352A5;
$color-teal-light: #abebdd;
$color-primary: rgb(68, 197, 176);
$color-green-light: #8BFDA5;

//spacing
$spacing-xxsmall: 0.5rem;
$spacing-xsmall: 1rem;
$spacing-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: 4rem;
$spacing-xxlarge: 5rem;
$spacing-section-padding-vertical: 10rem;
$spacing-section-padding-horizontal: 15rem;

//font size
$font-small: 1.4rem;
$font-default: 1.6rem;
$font-medium: 2.0rem;
$font-largish: 2.5rem;
$font-large: 3rem;
$font-xlarge: 4rem;

//utilities
$border-radius-xsmall: 0.7rem;
$border-radius-small: 1rem;
$border-radius: 1.6rem;

//shadows
$shadow-std: 0px 4px 6px 0px rgba(168, 168, 168, 1);
$shadow-soft: 0px 6px 15px -8px rgb(25, 25, 25);