@import "sass/abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $font-default;
    box-sizing: border-box;
    color: $color-grey;
}

.ComingSoonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ComingSoonText {
    font-size: $font-large;
    color: $color-teal-light;
    font-family: cursive
}