@import "sass/abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $font-default;
    box-sizing: border-box;
    color: $color-grey;
}

.ComingSoonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ComingSoonText {
    font-size: $font-large;
    color: $color-teal-light;
    font-family: cursive
}

.ContactLink {
    text-align: center;
    padding: $spacing-xsmall $spacing-medium;
    border-radius: $border-radius-small;
    color: $color-white;
    background-color: $color-blue-dark;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }
}